*{moz-user-select: -moz-none;-moz-user-select: none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
* {
    padding: 0;
    margin: 0;
}

.flex-box {
    display: flex;
}

.zuozi {
    border: 1px solid #e1e1e1;
    font-size: 20px;
}

.zuozi * {
    font-size: 20px;
}

.red {
    color: #ff0000;
}

.black {
    color: #000000;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px solid #e2e2e2;
    padding: 4px;
    border-radius: 8px;
    flex-shrink: 0;
    background-color: #ffffff;
    /* animation: fiy 1s linear both; */
    position: relative;
}

.card span {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

.user-box .card-box {
    position: relative;
    width: 35px;
}

.user-box .user-hand {
    position: relative;
    margin-top: 75px;
    cursor: pointer;
}

.user-box .user-hand .c-card {
    top: -50px;
}
.user-box .user-hand .s-card .card {
    background-color: #cccccc;
}p

.choose {
    position: absolute;
    right: 0;
    top: 50%;
    width: 120px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}

@keyframes fiy {
    0% {
        top: 100vh;
        left: 100vw;
        position: fixed;
    }

    25% {
        top: 75vh;
        left: 75vw;
        position: fixed;
    }

    50% {
        top: 50vh;
        left: 50vw;
        position: fixed;
    }

    75% {
        top: 25vh;
        left: 25vw;
        position: fixed;
    }

    100% {
        top: 0;
        left: 0;
        position: relative;
    }
}